@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name:'Poppins', sans-serif;
  --subtitle-font-name:'Poppins', sans-serif;;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul,
li {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}
.ask-btn{
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
}
.ask-btn:hover{
  color: white;
  font-size: 16px;
}
.back-btn{
  color: white;
  width: 100px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
.back-btn:hover{
  color: white;
  font-size: 22px;
}
.ask-container{
  border: 1px solid gray;
  padding: 10px;
}
.success-msg{
  color: green;
}
.ask-input input{
  width: 50%;
  height: 50px;
  padding: 10px !important;
}
.users-container .users-card {
  width: 250px;
  border: 1px solid gray;
  padding: 10px;
  margin: 20px;
  color: #db8814;
  border-radius: 5px;
}
.q-container{
  border: 1px solid gray;
  margin: 20px;
  padding: 20px;
}
.abtimg{
  width: 500px;
  border-radius: 20px;
}
.abttext{
  text-align: justify !important;
  line-height: 30px;
}
.create-txt{
  font-size: 16px !important;
}