a{
    text-decoration: none !important;
    font-size: 30px;
}
.user_reviews .review_item{
    border: 1px solid gray;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.user_reviews img{
    width:75px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
}
.review_input input{
    width: 50% !important;
    padding: 18px ;
    margin-left: 15px;
    margin-right: 10px;
}
.review_input input:focus{
    outline: none;
}